<h2><%= kanji.character %></h2>
<p><strong>Bedeutung:</strong> <%= kanji.meaning %></p>
<p><strong>On’yomi:</strong> <%= kanji.onyomi %></p>
<p><strong>Kun’yomi:</strong> <%= kanji.kunyomi %></p>
<small><%= kanji.info %></small>
